<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="Shortcut Icon" href="static/images/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <title>{{the_title}}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body background="static/images/img.jpg">

<h1>销售额占比</h1>

<h2>表格：</h2>
{{ the_data|safe }}

<div id="main" style="width:1042px;">

<div id="first" style="width:25%;float:left;"><form name="form1" method="get" action="/"><input type="submit" name="button" id="button" value="返回" /></form></div>

</div>

</body>
</html>