<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d47fe34580b243fba18767eb970dd3a6" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d47fe34580b243fba18767eb970dd3a6 = echarts.init(
            document.getElementById('d47fe34580b243fba18767eb970dd3a6'), 'white', {renderer: 'canvas'});
        var option_d47fe34580b243fba18767eb970dd3a6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "0\u201414\u5c81",
                    "value": 17.95
                },
                {
                    "name": "15\u201459\u5c81",
                    "value": 63.35
                },
                {
                    "name": "60\u5c81\u53ca\u4ee5\u4e0a",
                    "value": 18.7
                },
                {
                    "name": "\u5176\u4e2d\uff1a65\u5c81\u53ca\u4ee5\u4e0a",
                    "value": 13.5
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "60%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "0\u201414\u5c81",
                "15\u201459\u5c81",
                "60\u5c81\u53ca\u4ee5\u4e0a",
                "\u5176\u4e2d\uff1a65\u5c81\u53ca\u4ee5\u4e0a"
            ],
            "selected": {},
            "show": true,
            "left": "2%",
            "top": "35%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5168\u56fd\u4eba\u53e3\u5e74\u9f84\u5360\u6bd4\u997c\u72b6\u56fe",
            "subtext": "\u56fd\u9645\u4e0a\u901a\u5e38\u628a60\u5c81\u4ee5\u4e0a\u7684\u4eba\u53e3\u5360\u603b\u4eba\u53e3\u6bd4\u4f8b\u8fbe\u523010%\uff0c\u621665\u5c81\u4ee5\u4e0a\u4eba\u53e3\u5360\u603b\u4eba\u53e3\u7684\u6bd4\u91cd\u8fbe\u52307%\u4f5c\u4e3a\u56fd\u5bb6\u6216\u5730\u533a\u8fdb\u5165\u8001\u9f84\u5316\u793e\u4f1a\u7684\u6807\u51c6\u3002 \n65\u5c81\u53ca\u4ee5\u4e0a\u4eba\u53e3\u7684\u6bd4\u4f8b\u8d85\u8fc710\uff05\u8868\u660e\u8001\u9f84\u5316\u5df2\u7ecf\u975e\u5e38\u4e25\u91cd\u4e86\u3002\n\n\u7136\u800c\uff0c\u4e2d\u56fd\u4eba\u53e3\u603b\u6570\u4e2d\u768465\u5c81\u53ca\u4ee5\u4e0a\u4eba\u53e3\u5df2\u7ecf\u5360\u4e8613.50%\uff0c\u8001\u9f84\u5316\u975e\u5e38\u4e25\u91cd\u3002\u56e0\u6b64\uff0c\u56fd\u5bb6\u53d1\u5e03\u4e09\u80ce\u653f\u7b56\u4ee5\u7f13\u89e3\u8001\u9f84\u5316\u95ee\u9898\u3002",
            "top": "0",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d47fe34580b243fba18767eb970dd3a6.setOption(option_d47fe34580b243fba18767eb970dd3a6);
    </script>
</body>
</html>
